<div id="remoteVideoContainer">
  <div class="video-person" [ngStyle]="{ 'display' : isLocalVideoSet ? 'block' : 'none' }">
    <video id="localVideo" class="video-content" autoplay></video>
    <div class="video-name">Participant 1</div>
  </div>
</div>



<div class="video-call-actions " [ngStyle]="{ 'display' : isLocalVideoSet ? 'flex' : 'none' }">
  <button class="video-action-button mic" [class.dark-bg]="isMuted" (click)="!isMuted ? mute() : unmute()"></button>
  <button class="video-action-button camera" [class.dark-bg]="isVideoOff"
    (click)="!isVideoOff ? closeVideo() : resumeVideo()"></button>
  <button class="video-action-button endcall" (click)="endConf()">Leave</button>
</div>