.join-conf {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;

  .call {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-color: #75fb4c;
    background-color: #fff;
    border: 1px solid #75fb4c;
    padding: 3px 10px;
    border-radius: 6px;

    &:hover {
      border-radius: 30px;
    }

    div {
      color: #75fb4c;
    }
  }
}
